[core]
executor = {{ executor | default('LocalExecutor') }}
load_examples = False
fernet_key = {{ core__fernet_key }}
dagbag_import_error_tracebacks = False
check_migrations = False

[database]
{% if render_sensitive_data %}sql_alchemy_conn = {{ database__sql_alchemy_conn }}{% endif %}

[api]
secret_key = {{ api__secret_key }}
enable_swagger_ui = False

[api_auth]
jwt_secret = {{ api_auth__jwt_secret }}

[scheduler]
enable_healthcheck = True
