from flask_appbuilder.security.manager import AUTH_OAUTH

# Set Authentication Type to OAuth
AUTH_TYPE = AUTH_OAUTH
AUTH_ROLES_SYNC_AT_LOGIN = True

# Enable user registration in addition to authentication with OAuth
AUTH_USER_REGISTRATION = {{ enable_user_registration }}
AUTH_USER_REGISTRATION_ROLE = "Public"

# Mapping of groups in external IdP to predefined Airflow roles
AUTH_ROLES_MAPPING = {{ auth_roles_mapping | tojson }}

# Hydra OAuth Provider Configuration
OAUTH_PROVIDERS = [
    {
        "name": "hydra",
        "icon": "fa-key",
        "token_key": "access_token",
        "remote_app": {
            "client_id": {{ client_id | tojson }},
            "client_secret": "{{ webserver_config__client_secret }}",
            "api_base_url": {{ api_base_url | tojson }},
            "client_kwargs": {
                "scope": {{ scope | tojson }},
            },
            "access_token_url": {{ token_endpoint | tojson }},
            "authorize_url": {{ authorization_endpoint | tojson }},
            "jwks_uri": {{ jwks_endpoint | tojson }},
        },
    }
]
